

body {
  color:#333;
}
.centered {
  margin: auto auto;
  display: block;
  width: 185px;
  margin-bottom: 25px;
}
.thumbnail {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #444;
}
.thumbnail img {
  opacity: .75;
}
.thumbnail img:hover {
  opacity: 1;
}
.gallery {
  color: #333;
}
.gallery h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-bottom: 15px;
  font-size: 4.5em;
  font-weight: 300;
  line-height: 1.65em;
  border-bottom: 1px solid #ccc;
}
.credits a {
  margin-right: 15px;
  color: #333;
  padding: 5px 15px;
}
.credits a:hover {
  color: #333;
  text-decoration: none;
  background: #eee;
}

