@import 'prettyPhoto.css';
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  /*background: url('../img/black_lozenge.png') repeat;*/
}
.centered {
  margin: auto auto;
  display: block;
  width: 185px;
  margin-bottom: 25px;
}
.thumbnail {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #444;
}
.thumbnail img {
  opacity: .75;
}
.thumbnail img:hover {
  opacity: 1;
}
.gallery {
  color: #fff;
}
.gallery h2 {
  font-family: 'Lato', sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
  font-size: 4.5em;
  font-weight: 300;
  line-height: 1.65em;
  border-bottom: 1px solid #ccc;
}
.credits a {
  margin-right: 15px;
  color: #333;
  padding: 5px 15px;
}
.credits a:hover {
  color: #333;
  text-decoration: none;
  background: #eee;
}

.thumb {
  display:block;
  width:100%;
  height:auto;
  position:relative;
  margin-bottom:20px;
  margin-right:20px;
  float:left;
}

.thumb-wrapper {
  display:block;
  width:100%;
  height:100%;
}

.thumb img {
  width:100%;
  height:auto;
  position:absolute;
  display:block;
}

.thumb .thumb-detail {
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  background:#fff;
  font-family:arial;
  font-weight:bold;
  font-size:16px;
}

.thumb .thumb-detail a {
  display:block;
  width:100%;
  height:100%;
  text-transform:uppercase;
  font-weight:bold;
  color:#333;
  text-decoration:none;
  font-family: 'Open Sans', sans-serif;
  letter-spacing:-1px;
  padding:10px;
  font-size:18px;
}

/*
* Without CSS3
*/
.thumb.scroll {
  overflow: hidden;
}

  .thumb.scroll .thumb-detail {
    bottom:-280px;
  }


/*
* CSS3 Flip
*/
.thumb.flip {
  -webkit-perspective:800px;
     -moz-perspective:800px;
      -ms-perspective:800px;
       -o-perspective:800px;
            perspective:800px;
}

  .thumb.flip .thumb-wrapper {
    -webkit-transition: -webkit-transform 1s;
       -moz-transition: -moz-transform 1s;
        -ms-transition: -moz-transform 1s;
         -o-transition: -moz-transform 1s;
            transition: -moz-transform 1s;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  }

  .thumb.flip .thumb-detail {
    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
         -o-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }

  .thumb.flip img,
  .thumb.flip .thumb-detail {
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  .thumb.flip .flipIt {
    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
         -o-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }