<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

<div class="container gallery">
    <h2 class="page-title">Bootstrap Gallery</h2>


    <ul class="thumbnails">
        <li class="span3">
                <a class="thumbnail" rel="lightbox[group]" href="img/pics/1.jpg"><img class="group1" src="img/pics/1.jpg" title="Image Title" /></a>
            </li> <!--end thumb -->
            <li class="span3">
                <a class="thumbnail" rel="lightbox[group]" href="img/pics/2.jpg"><img class="group1" src="img/pics/2.jpg" title="Image Title" /></a>
            </li> <!--end thumb -->
            <li class="span3">
                <a class="thumbnail" rel="lightbox[group]" href="img/pics/3.jpg"><img class="group1" src="img/pics/3.jpg" title="Image Title" /></a>
            </li> <!--end thumb -->
            <li class="span3">
                <a class="thumbnail" rel="lightbox[group]" href="img/pics/4.jpg"><img class="group1" src="img/pics/4.jpg" title="Image Title" /></a>
            </li> <!--end thumb -->
            <li class="span3">
                <a class="thumbnail" rel="lightbox[group]" href="img/pics/5.jpg"><img class="group1" src="img/pics/5.jpg" title="Image Title" /></a>
            </li> <!--end thumb -->
            <li class="span3">
                <a class="thumbnail" rel="lightbox[group]" href="img/pics/6.jpg"><img class="group1" src="img/pics/6.jpg" title="Image Title" /></a>
            </li> <!--end thumb -->
            <li class="span3">
                <a class="thumbnail" rel="lightbox[group]" href="img/pics/7.jpg"><img class="group1" src="img/pics/7.jpg" title="Image Title" /></a>
            </li> <!--end thumb -->
            <li class="span3">
                <a class="thumbnail" rel="lightbox[group]" href="img/pics/8.jpg"><img class="group1" src="img/pics/8.jpg" title="Image Title" /></a>
            </li> <!--end thumb -->
    </ul><!--end thumbnails -->



    <footer>
        <p>&copy; Untame 2013 <span class="pull-right credits"><a href="http://twitter.github.com/bootstrap/">Download Bootstrap</a><a href="http://www.no-margin-for-errors.com/projects/prettyphoto-jquery-lightbox-clone/#prettyPhoto" target="_blank">Download PrettyPhoto</a><a href="http://wp.me/p2m9ik-zX">Back to Untame</a></span></p>
    </footer>

</div> <!-- /container -->