<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div class="container gallery">

  <h2 class="page-title">Products</h2>
    <ul class="ch-grid">
      <% 12.times do %>
      <li>
        <div class="ch-item ch-img-<%= cycle(1,2,3) %>">
          <div class="ch-info">
            <h3>Use what you have</h3>
            <p>by Angela Duncan <a href="#">I want this!</a></p>
          </div>
        </div>
      </li>
      <% end %>
    </ul>

    <footer>
      <p>&copy; <%= Time.now.year %> YoloCN
        <span class="pull-right credits">
            <a href="#">FAQ</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </span>
      </p>
    </footer>

</div> <!-- /container -->
